$font-stack:    Helvetica, sans-serif
$primary-color: #333

#tadl_admin_bar
  height: 100px
  width: 33%
  font: 100% $font-stack
  color: $primary-color
  background-color: #1ab7ea
  position: fixed
  right: 0
  top: 0
  z-index: 9999